.project {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
     margin:5px;
}

.project:hover {
    -webkit-transform: scale(0.9);
	transform: scale(0.9);
}
